<!DOCTYPE html>
<html>
  <head>
    <title>Amazon Review Sentiment Analysis</title>
	<link rel="stylesheet" href="../static/Sty.css">
  </head>
  <body>
    <form id="review-form">
      <label for="review">Enter your review:</label><br>
	  <center>
      <textarea id="review" name="review"></textarea><br>
	  <center>
      <button type="submit">Submit</button>
    </form>
	<footer>
    <div id="result"></div>
	<footer>
    <script>
      const form = document.getElementById('review-form');
      form.addEventListener('submit', async (event) => {
        event.preventDefault();
        const formData = new FormData(form);
        const response = await fetch('/predict', {
          method: 'POST',
          body: formData
        });
        const result = await response.text();
        document.getElementById('result').textContent = result;
      });
    </script>
  </body>
</html>